html {
	background-color: rgb(244, 247, 254);
	padding: 0;
	border: 0;
	font-family: Poppins;
}

body {
	padding: 0;
	border: 0;
	margin: 0;
	background-color: #f4f7fe;
}

#grid-container {
	display: grid;
	padding-left: calc(37.5% - 45vh);
	padding-right: calc(37.5% - 45vh);
	grid-template-columns: 9vh 9vh 9vh 9vh 9vh 9vh 9vh 9vh 9vh 9vh;
}

#grid-container > div {
  background-color: white;
  height: calc(9vh - 0.5px);
	border-bottom: 1px solid #d8d8d9;
	border-left: 1px solid #d8d8d9;
}

/* Specification for the board */

.river {
	background-color: #79a2fc !important;
	border-left: 1px solid #79a2fc !important;
}

.river-left {
	background-color: #79a2fc !important;
	border-left: 1px solid #79a2fc !important;
}

.river-right {
	border-left: 1px solid #79a2fc !important;
}

.top {
	background-color: rgb(244, 247, 254) !important;
	border-left: 1px solid rgb(244, 247, 254) !important;
}

.border-right {
	background-color: rgb(244, 247, 254) !important;
	border-bottom: 1px solid rgb(244, 247, 254) !important;
}

.border-left {
	background-color: rgb(244, 247, 254) !important;
	border-bottom: 1px solid rgb(244, 247, 254) !important;
	border-left: 1px solid rgb(244, 247, 254) !important;
}

.bottom {
	background-color: rgb(244, 247, 254) !important;
	border-left: 1px solid rgb(244, 247, 254) !important;
	border-bottom: 1px solid rgb(244, 247, 254) !important;
}

/* Numerotation */

#grid-container div > div {
	position: absolute;
	font-family: Poppins;
	color: #a9aaab;
}

.case-0 div {
	bottom: calc(10*9vh - 0.75em);
	width: 9vh;
	text-align: center;
}
.case-10  div {
	bottom: calc(9*9vh - 0.75em);
	width: 9vh;
	text-align: center;
}
.case-20  div {
	bottom: calc(8*9vh - 0.75em);
	width: 9vh;
	text-align: center;
}
.case-30  div {
	bottom: calc(7*9vh - 0.75em);
	width: 9vh;
	text-align: center;
}
.case-40  div {
	bottom: calc(6*9vh - 0.75em);
	width: 9vh;
	text-align: center;
}
.case-50  div {
	bottom: calc(5*9vh - 0.75em);
	width: 9vh;
	text-align: center;
}
.case-60  div {
	bottom: calc(4*9vh - 0.75em);
	width: 9vh;
	text-align: center;
}
.case-70  div {
	bottom: calc(3*9vh - 0.75em);
		width: 9vh;
	text-align: center;
}
.case-80  div {
	bottom: calc(2*9vh - 0.75em);
	width: 9vh;
	text-align: center;
}
#grid-container >.case-90  div {
	bottom: calc(1*9vh - 0.75em);
	width: 9vh;
	text-align: center;
}

.letter {
	bottom: calc(4.5vh - 0.75em);
	width: 9vh;
	text-align: center;
	transform: translateX(4.5vh);
}

/* main container */

#main-container {
	display: flex;
}

#lateral-menu {
	width: 25%;
	height: 100vh;
	background-color: #4c84ff;
	padding: 30px;
	box-sizing: border-box;
	overflow: scroll;
}

.title {
	color: white;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	background-color: #4178f6;
}

.icon-menu-container {
	width: 100%;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: center;
}

.icon-menu {
	background-color: #4178f6;
	padding: 5px;
	width: 25px;
	height: 25px;
	text-align: center;
	color: white;
	border-radius: 50%;
	display: table;
}

.icon-menu .symbol {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.spacer-icon {
	width: 100%;
}

.player-container {
	color: white;
	text-align: left;
	padding: 10px;
	border-radius: 5px;
	background-color: #4178f6;
}

.level {
	color: white;
	font-size: 0.6em;
	margin-left: 10px;
	font-weight: 100;
}

.playing {
	background-color: white;
	float: right;
	border-radius: 3px;
	color: #4178f6;
	font-size: 0.8em;
	text-align: center;
	padding: 3px 15px 3px 15px;
}

.pieces-container {
	display: grid;
	grid-template-columns: 16% 12% 16% 12% 16% 12% 16%;
	margin-top: 20px;
}

.pieces-blue {
	background-color: #4178f6;
	height: 0;
	padding-bottom: 100%;
	margin-bottom: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 270%;
	color: white;
}

.pieces-black {
	background-color: #303030;
	height: 0;
	padding-bottom: 100%;
	margin-bottom: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 270%;
	color: white;
}

.timer {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: #386adb;
	width: calc(100% + 60px);
	margin-bottom: -30px;
	margin-left: -30px;
	margin-right: -30px;
	height: 100px;
}

.global-time {
	height: 100%;
	grid-area: 1 / 1 / span 2 / span 1;
	color: white;
	text-align: center;
	display: flex;
	align-items: center; 
	justify-content: center;
	font-size: 1.5em;
}

.time-player1 {
	text-align: center;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #4d7be2;
}

.time-player2 {
	text-align: center;
	color: #7099f7;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #4d7be2;
}